<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Test Project</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <nav class="navbar">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
    <a href="/profile">Profile</a>
    <a href="/Join">Join</a>
  </nav>

  <div class="content">
    <h1>Task 6.2D</h1>
    <h1>Applied Software Engineering</h1>
  </div>
  <div class="card-container">
    <div class="card">
      <h2>Part - 1</h2>
      <p>Take advantage of the provided slides and actively participate in the practical session to gain insights
        into basic testing strategies. This will equip you with essential knowledge and techniques to design and
        implement effective tests for your software.</p>
    </div>
    <div class="card">
      <h2>Part - 2  </h2>
      <p>Continuing from previous weeks, import your weekly project into a new repository. Its time to make
        the necessary modifications and incorporate testing into your project. Implementing tests will help verify the
        correctness of your code, identify potential issues or bugs, and enhance the overall quality of your software.</p>
    </div>
  </div>
</div>

  <footer class="footer">
    <p>2024 task 6.2D Applied Software Engineering.</p>
  </footer>
</body>
</html>
